@font-face {
  font-family: 'GT Walsheim Pro Black';
  src: url('/GT-Walsheim-Pro-Black.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
.font-myfont {
  font-family: 'GT Walsheim Pro Black', sans-serif;
}