@tailwind base;

@font-face {
  font-family: "GT Walsheim Pro Black";
  src: url("/GT-Walsheim-Pro-Black.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
.font-myfont {
  font-family: "GT Walsheim Pro Black", sans-serif;
  letter-spacing: -0.05em;
  white-space: normal;
  line-height: 0.75;
}
@layer base {
  h1 {
    @apply font-myfont lg:text-5xl md:text-4xl sm:text-3xl text-2xl;
  }
  h2 {
    @apply lg:text-4xl md:text-3xl sm:text-2xl text-xl mb-5;
  }
  h3 {
    @apply lg:text-3xl md:text-2xl sm:text-xl text-lg mb-1;
  }
  p {
    @apply lg:text-lg md:text-base sm:text-sm text-sm mb-3 max-w-4xl;
  }
}
